{% load static wagtailuserbar %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css(.tmp) /styles/main.css -->
        <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->
</head>
<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% block content %}{% endblock %}

    <!-- build:js /scripts/main.js -->
        <script data-main="/scripts/main" src="/bower_components/requirejs/require.js"></script>
    <!-- endbuild -->
</body>
</html>
